<section id="dg-nav-canvas">
    <%== can.view.render('topbarGuestEJS', this.content); %>
    <%== can.view.render(baseURL+'ejs/features/common/menu.ejs', this.content); %>
</section>
<section id="dg-fstep3-section" role="main" class="dg-fish scroll-container dg-transition-page">
    <div class="row">
        <div class="dg-top-spacer"></div>
        <%== can.view.render('pagetitleEJS', this.content); %>
    </div>
    <div class="row">
        <!-- div class="large-3 medium-4 columns">
            <div class="hide-for-small">
                <div class="dg-sidebar">
                    <section>
                        <p>Back</p>
                    </section>
                </div>
            </div>
        </div -->
        <div class="dg-fstep3 large-12 medium-12 columns">
            <form onsubmit="return false;">
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <%== can.view.render('textInputEJS', this.form.attr('email') ); %>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <%== can.view.render('textInputEJS', this.form.attr('mobile') ); %>
                    </div>
                </div>
                <%== can.view.render('submitButtonEJS', this.form.attr('submit') ); %>
            </form>
        </div>
    </div>
</section>