<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list">
        <li><label class="first">SETTINGS</label></li>
        <li><a href="#" data-search="right menu register"><%= toUpper("My Profile") %></a></li>
        <li><a href="#" data-search="right menu addresses"><%= toUpper('My Address') %></a></li>
        <li><a href="#" data-search="right menu logout"><i class="fi-power"></i>  <%= toUpper("Logout") %></a></li>
    </ul>
    <ul class="off-canvas-list">
        <li><label class="first">QUICK</label></li>
        <li><a href="#" data-search="right menu renewal"><%= toUpper('Renew a Licence') %></a></li>
        <li><a href="#" data-search="right menu fish"><%= toUpper('Apply for Fishing Licence') %></a></li>
    </ul>
    <ul class="off-canvas-list">
        <li><label class="first">GENERAL</label></li>
        <li><a href="#" data-search="right menu about"><%= toUpper("About Us") %></a></li>
        <li><a href="#" data-search="right menu privacy"><%= toUpper("Privacy") %></a></li>
        <li><a href="#" data-search="right menu contact"><%= toUpper("Contact Us") %></a></li>
    </ul>
</aside>
<a class="exit-off-canvas" href="#"></a>