<aside class="right-off-canvas-menu">
    <ul class="off-canvas-list">
        <li><label class="first">GET STARTED</label></li>
        <li><a href="#" data-search="right menu register"><%= toUpper(getStr('DREGISTER')) %></a></li>
        <li><a href="#" data-search="right menu login"><%= toUpper(getStr('DLOGIN')) %></a></li>
    </ul>
    <ul class="off-canvas-list">
        <li><label>ABOUT</label></li>
        <li><a href="#" data-search="right menu services"><%= toUpper(getStr('C017')) %></a></li>
        <li><a href="#" data-search="right menu about"><%= toUpper(getStr('C018')) %></a></li>
        <li><a href="#" data-search="right menu privacy"><%= toUpper(getStr('C020')) %></a></li>
        <li><a href="#" data-search="right menu contact"><%= toUpper(getStr('C019')) %></a></li>
    </ul>
</aside>
<a class="exit-off-canvas" href="#"></a>